
/* //////////////  css phần màn hình login    ////////////////////// */
/* #loginScreen-content{
    color: #ffffff;
} */
.login-container{
    /* height: 100vh;
    background-image: url(../img/back-ground-đăng\ nhập.jpg);
    background-size: cover;
    display: flex;
    justify-content: flex-end; */
    height: 100vh;
    background-image: url(../img/photo-collection-backgrounds-background-minimal.jpg);
    background-size: cover; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container .aside-right{
    width: 35%;
    /* height: 100vh; */
    background-color: #fff;
    padding: 0 0 20vh;
    border: 1px solid;
    border-radius: 10px;
    box-shadow: 10px 10px 5px #aaaaaa;
}

.login-container .aside-right .header h3{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    /* color: rgb(128, 120, 120); */
    text-align: center;
    margin-top: 30px;
    font-weight: 200;
}

.login-container .aside-right #login-form .input-wrapper{
    width: 100%;
}

#login-form{
    padding: 20px;
}
.form-action{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.error{
    text-align: left;
}

#redirect-to-login:hover{
    color: red;
}
#redirect-to-register:hover{
    color: red;
}
@media screen and (max-width: 768px){
    .login-container .aside-right{
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 0px;
    }
}